/Column.class
/Correlation.class
/Database.class
/DoubleType.class
/EnumeratedType.class
/FieldType$Type.class
/FieldType.class
/IntegerType.class
/ManyToMany.class
/Menu.class
/OneToMany.class
/OneToOne.class
/StringType.class
/Table.class
